:root {
  --darker-blue: #111a20;
  --dark-blue: #1b2933;
  --light-blue: #436c88;
  --green: #8ceeaa;
}

body {
  background-color: var(--dark-blue);
}

main{
  margin-top: 100px;
  margin-bottom: 100px;
}

.card{
  margin-bottom: 12px;
  height: 95% !important;
}

input{
  border:0px !important;
  border-bottom: 1px solid grey !important;
  background-color: inherit;
}

footer .container{
  max-width: 1750px;
}

@media (max-width: 1400px){
  footer .container{
    max-width: 100%
  }
}

